
@media only screen  {
    .body {
        position: relative;
        width: 1200px;
        height: 2336px;
        background: #FFFFFF;
    }
    
    div.pr  {
        position: absolute;
        width: 91px;
        height: 16px;
        left: 267px;
        top: 45px;
    
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 16px;
        /* identical to box height, or 80% */
    
        letter-spacing: 0.1em;
        text-transform: uppercase;
    
        color: #FFFFFF;
    }
    
    ul {
        position: absolute;
        width: 395px;
        height: 22px;
        left: 523px;
        top: 49px;
    
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    
    
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        /* identical to box height, or 114% */
    
        letter-spacing: 0.2em;
        text-transform: uppercase;
    
        color: #FFFFFF;
    }
    
    .projects{
        flex: 1 1 81px;
    }
    
    .about_us {
        flex: 1 1 81px;
    }
    
    .stories {
        flex: 1 1 67px;
    }
    
    .contact {
        flex: 1 1 73px;
    }
    
    .hero {
        position: absolute;
        width: 1315px;
        height: 822px;
        left: -115px;
        top: 0px;
    
        background-image: url(../assets/background1.png);
        background-size: cover;
    }
    
    .hero img {
        position: absolute;
        width: 63px;
        height: 63px;
        left: 685px;
        top: 274px;
    }
    
    .hero h1{
        position: absolute;
        width: 386px;
        height: 118px;
        left: 523px;
        top: 350px;
        
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        /* or 133% */
        
        text-align: center;
        
        color: #FFFFFF;
    
    }
    
    .hero h2 {
        position: absolute;
        width: 426px;
        height: 56px;
        left: 503px;
        top: 510px;
        
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        /* or 133% */
        
        text-align: center;
        
        color: rgba(255, 255, 255, 0.7);
    }
    
    main {
        position: absolute;
        width: 1200px;
        height: 700px;
        left: -1px;
        top: 800px;
    
        background: #EEEEEE;
    }
    
    main h2 {
        position: absolute;
        width: 669px;
        height: 119px;
        left: 264px;
        top: 88px;
    
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        /* or 133% */
    
        text-align: center;
    
        color: #464547;
    }
    
    main h3 {
        position: absolute;
        width: 426px;
        height: 57px;
        left: 386px;
        top: 246px;
    
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        /* or 133% */
    
        text-align: center;
    
        color: #666666;
    }
    

    
    main button {
        position: absolute;
        width: 115px;
        height: 36px;
        left: 541px;
        top: 566px;
    
        background: #55C2D8;
        border-radius: 18px;
    
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        /* or 186% */
    
        text-align: center;
        letter-spacing: 0.1em;
    
        color: #FFFFFF;
    }
    
    .text {
        display: flex;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        /* or 138% */
    
        color: #666666;
    }
    
    .first_p {
        position: absolute;
        width: 408px;
        height: 172px;
        left: 149px;
        top: 348px;
    
    }
    
    .second_p {
        position: absolute;
        width: 416px;
        height: 172px;
        left: 640px;
        top: 348px;
    
    }
    
    .lmore {
        position: absolute;
        width: 1200px;
        height: 637px;
        left: -1px;
        top: 1500px;
    
        background: rgba(140, 79, 42, 0.3);
        background-image: url(../assets/background2.png);
        background-size: cover;
    }
    
    .lmore h2 {
        position: absolute;
        width: 432px;
        height: 111.91px;
        left: 389px;
        top: 80px;
    
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        /* or 133% */
    
        text-align: center;
    
        color: #FFFFFF;
    }
    
    .circle button {
        position: absolute;
        width: 145px;
        height: 143.47px;
        left: 533px;
        top: 255px;
        color: #FFFFFF;
        background: #39C2D7;
        border-radius: 50%;
    
    }
    
    .lmore h3 {
        position: absolute;
        width: 400px;
        height: 97.56px;
        left: 420.5px;
        top: 453.02px;
    
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        /* or 133% */
    
        text-align: center;
    
        color: #FFFFFF;
    }
    
    footer {
        position: absolute;
        width: 1200px;
        height: 199px;
        left: 0px;
        top: 2137px;
    
        background: #464547;
    }
    
    .grid {
        height: 199px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    
    .area1 {
        grid-area: 1 / 1 / 1 / 1;
    }
    
    .area1 img {
        position: absolute;
        width: 20px;
        height: 20px;
        left: 153px;
        top: 37px;
    }
    
    .area1 .project {
        position: absolute;
        width: 92px;
        height: 16px;
        left: 189px;
        top: 39px;
        
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 16px;
        /* identical to box height, or 89% */
        
        letter-spacing: 0.2em;
        text-transform: uppercase;
        
        color: #FFFFFF;
    }
    
    .area2 {
        grid-area: 3 / 1 / 4 / 2;
        position: absolute;
        width: 174px;
        height: 33px;
        left: 362px;
        top: 39px;
    
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        /* or 119% */
    
    
        color: rgba(255, 255, 255, 0.4);
    }
    .area3{
        grid-area: 3 / 2 / 4 / 3;
        position: absolute;
        width: 142px;
        height: 22px;
        left: 362px;
        top: 99px;
    
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        /* or 119% */
    
        color: rgba(255, 255, 255, 0.4);
    
    }
    .area4 {
        grid-area: 6 / 2 / span 2 / span 1;
    
        position: absolute;
        width: 230px;
        height: 22px;
        left: 822px;
        top: 103px;
    
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        /* or 119% */
    
        color: rgba(255, 255, 255, 0.4);
    }
}

@keyframes logo {
    50% {transform: rotateY(180deg);}
    100% {transform: scale(1.3);}
}

.hero_block img:hover {
    animation-name: logo;
    animation-duration: 1s;
    animation-timing-function: both;
    animation-fill-mode: both;
}

@keyframes button {
    100% {transform: rotate(20deg);
    transform-origin: top left;}
}

.read_more button:hover{
    animation-name: button;
    animation-duration: 1s;
    animation-timing-function: both;
    animation-fill-mode: both;
}

@keyframes video {
    100% {    background-color: #FFFFFF;
            color:#39C2D7;}
}

.circle button:hover {
    animation-name: video;
    animation-duration: 1s;
    animation-timing-function: both;
    animation-fill-mode: both;

}